<h2 class="text-center">¡Bienvenidos</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="navar">
        <img src="./assets/logo.png" width="75%">
      </div>
    </div>
    <div class="col-md-6">
      <p>¡Bienvenidos a nuestra página de fútbol americano! </p>

      <p>complace darte la más cordial bienvenida a este espacio dedicado a uno de los deportes más apasionantes y
        emocionantes del mundo: el fútbol americano. Aquí encontrarás todo lo que necesitas saber sobre este deporte
        fascinante, desde noticias actualizadas y análisis de los equipos y jugadores destacados hasta consejos y
        recursos para mejorar tu juego.</p>

      <p>seas un fanático de toda la vida, un jugador entusiasta o simplemente alguien curioso por descubrir más sobre
        el fútbol americano, estás en el lugar correcto. Nuestra página está diseñada para brindarte una experiencia
        informativa y entretenida, donde podrás sumergirte en el mundo de las jugadas estratégicas, las emocionantes
        rivalidades y los momentos épicos que hacen del fútbol americano un deporte único.</p>

      <p> nuestros artículos y reportajes para estar al tanto de las últimas novedades en el mundo del fútbol
        americano. Aprende sobre las reglas del juego, los equipos más destacados de la liga, las tácticas utilizadas
        por los mejores entrenadores y los jugadores que marcan la diferencia en el campo. Además, encontrarás consejos
        útiles para mejorar tus habilidades y disfrutar aún más de este deporte.</p>

      <p> que te sientas parte de nuestra comunidad y que compartas tu pasión por el fútbol americano con otros
        aficionados. Únete a nuestras discusiones, deja tus comentarios y comparte tus opiniones. Juntos, podemos vivir
        la emoción de cada jugada, celebrar las victorias y apoyarnos en los momentos difíciles.</p>

      <p>Así que prepárate para sumergirte en el mundo del fútbol americano. Estamos emocionados de tener la oportunidad
        de ser tu guía en este apasionante viaje. ¡Bienvenido a nuestra página y disfruta de todo lo que el fútbol
        americano tiene para ofrecerte!</p>
      <p>¡Que comience el partido!</p>
    </div>
  </div>
</div>