<h2 class="text-center">NOSOTROS</h2>
<nav class="navbar bg-body-tertiary">
      <div class="col-md-6">
        <img src="./assets/images.jpg" width="75%" >
      </div>
      <div class="col-md-6">
        
        <p>
          Somos un apasionado equipo de jugadores, entrenadores y aficionados que comparten el amor por este emocionante
          deporte. Nuestra misión es promover y difundir el fútbol americano, brindando información, recursos y una
          comunidad en línea para todos los amantes de este deporte en nuestra región.
        </p>
        <p>
          Nuestro equipo está formado por jugadores experimentados que han dedicado años de su vida a perfeccionar sus
          habilidades en el campo. Además, contamos con entrenadores altamente capacitados que se dedican a desarrollar el
          potencial de cada jugador, tanto en términos de habilidades técnicas como tácticas.
        </p>
        <p>
          Nos enorgullece fomentar los valores fundamentales del fútbol americano: trabajo en equipo, disciplina, respeto y
          espíritu competitivo. Creemos que el deporte no solo se trata de ganar o perder, sino también de forjar carácter,
          construir amistades duraderas y promover un estilo de vida saludable.
        </p>
        <p>
          A través de nuestro sitio web, ofrecemos noticias y actualizaciones sobre los últimos acontecimientos en el mundo
          del fútbol americano, incluyendo eventos, partidos, estadísticas y perfiles de jugadores destacados. También
          compartimos consejos útiles, técnicas de entrenamiento y estrategias para ayudarte a mejorar tu juego, ya sea que
          estés comenzando o seas un jugador experimentado.
        </p>
        <p>
          Además, nos esforzamos por crear una comunidad en línea donde los fanáticos y jugadores de fútbol americano puedan
          conectarse, compartir su pasión por el deporte y apoyarse mutuamente. Queremos ser el punto de encuentro para
          todos aquellos que comparten el entusiasmo por el fútbol americano, brindando un espacio inclusivo y emocionante
          para interactuar y aprender juntos.
        </p>
        <p>
          Estamos emocionados de tener la oportunidad de compartir nuestra pasión por el fútbol americano contigo. Ya seas
          un jugador, entrenador, aficionado o simplemente alguien curioso por descubrir más sobre este deporte, ¡te
          invitamos a unirte a nuestra comunidad y explorar todo lo que tenemos para ofrecer!
        </p>
        <p>
          ¡Juntos, haremos que el fútbol americano brille en todo su esplendor!
        </p>
      </div>
    

