<h2 class="text-center">MULTIMEDIA</h2>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner container">
    <div class="carousel-item active">
      <img src="https://scontent.fbog2-3.fna.fbcdn.net/v/t39.30808-6/321438808_1200368520913872_8210842054401833412_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=5N_YG-As6yQAX_QlWb9&_nc_ht=scontent.fbog2-3.fna&oh=00_AfAhoxAWv4PH-pDO3SMOShvDfZJYIcVjEF-0WYYyaaJHBA&oe=64799058"
           class="d-block w-100 mx-auto" alt="Imagen 1">
    </div>
    <div class="carousel-item">
      <img src="https://www.elmundo.com/assets/uploads/files/d131f-selecion-colombia-futbol-americano.jpg"
           class="d-block w-100 mx-auto" alt="Imagen 2">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/id/521437599/es/foto/f%C3%BAtbol-americano.jpg?s=612x612&w=is&k=20&c=wjig3MEn_nhh9CSqNBsZIYOIxW1p_kFGzqwMQNzX1iE="
           class="d-block w-100 mx-auto" alt="Imagen 3">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
