<div class="container">
    <h2 class="text-center">Horario de entrenamientos</h2>
    <table class="table table-bordered" >
      <thead>
        <tr>
          <th>Día</th>
          <th>Hora</th>
          <th>Actividad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lunes</td>
          <td>18:00 - 20:00</td>
          <td>Entrenamiento de equipo</td>
        </tr>
        <tr>
          <td>Martes</td>
          <td>16:00 - 18:00</td>
          <td>Práctica de lanzamiento</td>
        </tr>
        <tr>
          <td>Miércoles</td>
          <td>17:00 - 19:00</td>
          <td>Entrenamiento de defensa</td>
        </tr>
        <tr>
          <td>Jueves</td>
          <td>18:30 - 20:30</td>
          <td>Práctica de carrera y recepción</td>
        </tr>
        <tr>
          <td>Viernes</td>
          <td>19:00 - 21:00</td>
          <td>Entrenamiento de jugadas ofensivas</td>
        </tr>
      </tbody>
    </table>
  </div>
  
