<h2 class="text-center">Contactanos</h2>

<form style="display: flex; flex-direction: column; align-items: center;">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
    <label for="floatingInputDisabled">Nombres completos</label>
  </div>
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextareaDisabled" disabled></textarea>
    <label for="floatingTextareaDisabled">Email</label>
  </div>
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px;" disabled ></textarea>
    <label for="floatingTextarea2Disabled">Telefono</label>
  </div>
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled></textarea>
    <label for="floatingTextarea2Disabled">Inquietud</label>
  </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

  